.calculator {
  width: 300px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

#display {
  width: 90%;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 18px;
}

.keys button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 18px;
}

.keys button:hover {
  background-color: #04AA6D;
  color: white;
  border: 1px solid #035a3a;
}
